@font-face {
    font-family: JMH-EXTRA;
    src: url('../../Assets/Fonts/JMH EXTRA.ttf');
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url('../../Assets/Fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../Assets/Fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url('../../Assets/Fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: Rajdhani-ExtraLight;
    src: url('../../Assets/Fonts/Rajdhani/Rajdhani-Light.ttf');
}

@font-face {
    font-family: Rajdhani-Bold;
    src: url('../../Assets/Fonts/Rajdhani/Rajdhani-Bold.ttf');
}


:root {
    --font-primary: JMH-EXTRA;

    --font-secondary: Rajdhani-Bold;
    --font-secondary-light: Rajdhani-Regular;

    --text-color-dark: #25271b;
    --text-color-light: #95a478;
    --background-color: rgb(24, 26, 23);
    --background-color-lighter: #c0d266;

    --color-button-light: #e4f3e5;
    --color-button-dark: #161514;
    --color-button-highlight: rgb(224, 245, 130);
}


* {

    font-family: var(--font-secondary);
    box-sizing: border-box;
    color: var(--text-color-light);
    padding: 0;
    margin: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--font-primary);
    font-size: 3.5rem;
    margin-bottom: .5em;
    user-select: none;

}

h2 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    user-select: none;

}

h3 {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    user-select: none;

}

p {
    font-family: var(--font-primary-light);
    font-size: 1rem;
    user-select: none;
}

.smaller-p {
    font-size: .7em;
}

/*Page layout setup*/
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/* Page section */

.page-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu.row {
    height: 100%;
}

.main-menu {
    display: flex;
    width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;

    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-lighter);
}

.menu_section {
    display: flex;
    flex-direction: column;
    height: 33%;
    align-items: center;
    justify-content: center;
}

.main-menu h1 {
    font-weight: 300;
    color: var(--text-color-dark);
}

.btn_play {
    width: 50px;
    height: 50px;
    user-select: none;
    background-image: url("../Images/play-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

.btn_play:hover {
    background-image: url("../Images/play-button_green.png");
}

.btn_help_container {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    user-select: none;
}

.button_help {
    font-family: var(--font-secondary);
    font-size: 3rem;
    color: var(--color-button-dark);
    margin: 0 1rem;
    cursor: pointer;
}

.button_help:hover {
    color: var(--color-button-highlight);
}

.game_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;
    justify-content: space-between;
    align-items: center;
}

.game_screen {
    display: flex;
    height: 100%;
    aspect-ratio: 16/9;
    justify-content: center;
    overflow: hidden;
}

.game_screen canvas {
    width: 100%;
}

.game_screen_ui {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-lighter);
}

.game_screen_ui .btn_back {
    width: 3rem;
    align-items: center;
    opacity: 85%;
    cursor: pointer;
}

.game_screen_ui .btn_back:hover {
    opacity: 60%;
}

.game_screen_ui h2 {
    margin-top: .5rem;
    font-family: var(--font-primary);
    font-weight: 300;
    color: var(--text-color-dark);
    margin-right: 2rem;
}




@media screen and (min-width: 850px) {

    html {
        font-size: 28px;
    }

    /* Page section */


    .col {
        flex-direction: row;
        height: 100%;
    }

    .row {
        height: 100%;
    }

    .row-30 {
        width: 30%;
    }

    .row-33 {
        width: 33%;
    }

    .row-40 {
        width: 40%;
    }

    .row-50 {
        width: 50%;
    }

    .row-70 {
        width: 70%;
    }

    .row-100 {
        width: 100%;
    }

    .btn_play {
        width: 120px;
        height: 120px;
    }


}

@media screen and (min-width: 1800px) {
    html {
        font-size: 32px;
    }


}