@font-face {
    font-family: JMH-EXTRA;
    src: url('../../Assets/Fonts/JMH EXTRA.ttf');
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url('../../Assets/Fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../Assets/Fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url('../../Assets/Fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: Rajdhani-ExtraLight;
    src: url('../../Assets/Fonts/Rajdhani/Rajdhani-Light.ttf');
}

@font-face {
    font-family: Rajdhani-Bold;
    src: url('../../Assets/Fonts/Rajdhani/Rajdhani-Bold.ttf');
}


:root {
    --font-primary: JMH-EXTRA;

    --font-secondary: Rajdhani-Bold;
    --font-secondary-light: Rajdhani-Regular;

    --text-color-dark: #131212;
    --text-color-light: rgb(233, 230, 222);
    --background-color: rgb(24, 26, 23);
    --background-color-darker: rgb(201, 202, 197);

    --color-button-light: #e4f3e5;
    --color-button-dark: #161514;
}

* {

    font-family: var(--font-secondary);
    box-sizing: border-box;
    color: var(--text-color-light);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
    margin-bottom: .5em;
}

h2 {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
}

h3 {
    font-family: var(--font-secondary);
    font-size: 1.25rem;
}

p {
    font-family: var(--font-primary-light);
    font-size: 1rem;
}

.smaller-p {
    font-size: .7em;
}

/*Page layout setup*/
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: rgb(202, 172, 132);
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: .5em;
}

.nav-list a {
    font-size: 1rem;
    color: var(--text-color-dark);
    text-decoration: none;
}

.nav-lItem {
    padding: .5em;
}

.nav-logo {
    width: auto;
    height: 80%;
    margin-left: 2em;

    &:hover {
        cursor: pointer;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #262926;

}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
}

footer li a {
    font-size: .75rem;
    font-family: Rajdhani-ExtraLight;
}

footer li a:hover {
    color: #9e543d;
}

footer p {
    font-size: .7rem;
    max-width: 10rem;
    font-family: Rajdhani-ExtraLight;
    text-align: center;

}

/* Page section */

.page-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu.row {
    height: 100%;
}

.main-menu {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    flex-direction: column;
    align-items: center;
    background-color: #95a478;
}

.menu_section {
    display: flex;
    flex-direction: column;
    height: 33%;
    align-items: center;
    justify-content: center;
}

.main-menu h1 {
    font-weight: 300;
    color: #191d19;
    user-select: none;
}

.btn_play {
    width: 50px;
    height: 50px;
    user-select: none;
    background-image: url("../Images/play-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

.btn_play:hover {
    background-image: url("../Images/play-button_green.png");
}

.btn_help_container {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    user-select: none;
}

.button_help {
    font-family: var(--font-secondary);
    font-size: 3rem;
    color: #191d19;
    margin: 0 2rem;
    cursor: pointer;

}

.button_help:hover {
    color: #bed452;

}

.game_page {
    display: flex;
    justify-content: space-between;
}

.game_screen {
    display: flex;
    justify-content: center;

    width: 70%;
    height: 90%;
    aspect-ratio: 16/9;
}
.game_screen canvas
{

}
.game_screen_ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #bed452;
}
.game_screen_ui img
{
    width: 6rem;
    align-items: center;
    opacity: 85%;
    cursor: pointer;
}
.game_screen_ui img:hover
{
    opacity: 60%;
}
.game_screen_ui h2 {
    margin-top: .5rem;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 300;
    color: #25271b;
    margin-right: 2rem;
}

@media screen and (min-width: 810px) {

    html {
        font-size: 12px;
    }

    h1 {
        font-size: 7rem;
        font-weight: 300;
    }

    /* Page section */

    .col {
        flex-direction: row;
        height: 100%;
    }

    .row {
        height: 100%;
    }

    .row-30 {
        width: 30%;
    }

    .row-33 {
        width: 33%;
    }

    .row-40 {
        width: 40%;
    }

    .row-50 {
        width: 50%;
    }

    .row-70 {
        width: 70%;
    }

    .row-100 {
        width: 100%;
    }

    .btn_play {
        width: 120px;
        height: 120px;
    }

    .button_help {
        font-size: 8rem;
    }
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 18px;
    }


}